{% import 'appbuilder/general/lib.html' as lib %} {% extends
"appbuilder/base.html" %} {% block content %}
<div class="container">
  <h1>Fire & Bones Collectibles</h1>
  <h2>Total units in stock: {{ stock_total }}</h2>
  {% call lib.accordion_tag("stockbypurchaselot","Stock Details (by purchase
  lot)", False) %}
  <table
    class="table table-bordered table-condensed table-hover"
    style="width: auto"
  >
    <tr>
      <th>Lot</th>
      <th>Stock</th>
    </tr>
    {% for lot in lots %}
    <tr>
      <td>{{ lot.name }}</td>
      <td>{{ lot_totals[lot.id]['instock'] }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endcall %} {% call lib.accordion_tag("stockbystoragebox","Stock Details (by
  storage box)", False) %}
  <table
    class="table table-bordered table-condensed table-hover"
    style="width: auto"
  >
    <tr>
      <th>Box</th>
      <th>Stock</th>
    </tr>
    {% for box in box_totals %}
    <tr>
      <td>{{ box_totals[box]['name'] }}</td>
      <td>{{ box_totals[box]['instock'] }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endcall %}
  <h2>Total supply cost: {{ "${:,.2f}".format(supply_total|float) }}</h2>
  {% call lib.accordion_tag("supplydetails","Supply Details", False) %}
  <p>
    Supply cost per unit ({{ unit_total }} units): {{
    "${:,.2f}".format(supply_total/unit_total|float) }}
  </p>
  <p>
    Breakeven per unit, including supplies: {{
    "${:,.2f}".format((totals['capital']/unit_total/(1-totals['feepc']/100))+(supply_total/unit_total)|float)
    }}
  </p>
  {% endcall %}
  <h2>
    Total net profit: {% if (total_net_profit|float < 0) %}
    <span style="color: red">
      {% endif %} {{ "${:,.2f}".format(total_net_profit|float) }} ({{
      "{:,.2f}%".format(total_net_profit/totals['net']*100|float) }} profit
      margin) {% if (total_net_profit|float < 0) %}
    </span>
    {% endif %}
  </h2>
  {% call lib.accordion_tag("profitdetails","Profit Details", False) %}
  <table
    class="table table-bordered table-condensed table-hover"
    style="width: auto"
  >
    <tr>
      <th>Lot</th>
      <th>Capital</th>
      <th>Sold For</th>
      <th>Fees</th>
      <th>Fees %</th>
      <th>Net Sold</th>
      <th>Profit</th>
      <th>ROI</th>
    </tr>
    {% for lot in lots %}
    <tr>
      <td>{{ lot.name }}</td>
      <td>{{ "${:,.2f}".format(lot.price|float) }}</td>
      <td>{{ "${:,.2f}".format(lot_totals[lot.id]['gross']|float) }}</td>
      <td>{{ "${:,.2f}".format(lot_totals[lot.id]['fees']|float) }}</td>
      <td>{{ "{:,.2f}%".format(lot_totals[lot.id]['feepc']|float) }}</td>
      <td>{{ "${:,.2f}".format(lot_totals[lot.id]['net']|float) }}</td>
      <td>{{ "${:,.2f}".format(lot_totals[lot.id]['profit']|float) }}</td>
      <td>{{ "{:,.2f}%".format(lot_totals[lot.id]['roi']|float) }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th>Total</th>
      <th>{{ "${:,.2f}".format(totals['capital']|float) }}</th>
      <th>{{ "${:,.2f}".format(totals['gross']|float) }}</th>
      <th>{{ "${:,.2f}".format(totals['fees']|float) }}</th>
      <th>{{ "{:,.2f}%".format(totals['feepc']|float) }}</th>
      <th>{{ "${:,.2f}".format(totals['net']|float) }}</th>
      <th>{{ "${:,.2f}".format(totals['profit']|float) }}</th>
      <th>{{ "{:,.2f}%".format(totals['roi']|float) }}</th>
    </tr>
  </table>
  <table
    class="table table-bordered table-condensed table-hover"
    style="width: auto"
  >
    <tr>
      <th>Storage Box</th>
      <th>Capital</th>
      <th>Sold For</th>
      <th>Fees</th>
      <th>Fees %</th>
      <th>Net Sold</th>
      <th>Profit</th>
      <th>ROI</th>
    </tr>
    {% for box in box_totals %}
    <tr>
      <td>{{ box_totals[box]['name'] }}</td>
      <td>{{ "${:,.2f}".format(box_totals[box]['capital']|float) }}</td>
      <td>{{ "${:,.2f}".format(box_totals[box]['gross']|float) }}</td>
      <td>{{ "${:,.2f}".format(box_totals[box]['fees']|float) }}</td>
      <td>{{ "{:,.2f}%".format(box_totals[box]['feepc']|float) }}</td>
      <td>{{ "${:,.2f}".format(box_totals[box]['net']|float) }}</td>
      <td>{{ "${:,.2f}".format(box_totals[box]['profit']|float) }}</td>
      <td>{{ "{:,.2f}%".format(box_totals[box]['roi']|float) }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endcall %}
</div>
{% endblock %}
